<%-include("header")-%> 

    <h3>Faces Detected</h3>
    <%faces.forEach(function(face){%>
        <p class="celebsdata" <%=facedataview%>>
            <span>Timestamp: <%=face.Timestamp%></span><br />
            <span>Confidence: <%=face.Face.Confidence%></span>
        </p>
    <%})%>

    <p class="celebsdata" <%=nomatchview%>>No Faces Detected</p>
</body>
</html>