<%-include("header")-%>

    <h3>Stranger Detection</h3>
    <p class="strangerdetails" <%=dataview%>>
    <span <%=dataview%>>Similarity: <%=similarity%></span><br /><br />
    <span <%=dataview%>>Face Id: <%=faceid%></span><br /><br />
    <span <%=dataview%>>Confidence: <%=confidence%></span>
    </p>

    <p class="strangerdetails" <%=nomatchview%>>No Match Found</p>
</body>
</html>